/* CUSTOM STYLE */
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 제목 중앙 정렬 및 마진 설정 */
h1 {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 20px; /* 위쪽 마진 설정 */
    margin-bottom: 20px; /* 아래쪽 마진 설정 */
}

body, select, input {
    font-family: 'Jeju Gothic', sans-serif;
}

.wrap {
    width: 80%;
    margin: 50px auto;
}

/* 검색창, 페이지당 select 등 input 관련 */
.dataTables_wrapper .dataTables_filter input,
select[name=myTable_length] {
    padding: 0.5em;
}

#select {
    padding: 0.5em;
    margin-right: 0.5em;
}

/* page button */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #337ab7;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    color: white !important;
}

table.dataTable tbody tr {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1,
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background: #E1F5FE;
}

/* EXCEL 버튼 */
.dataTables_wrapper .dt-buttons .buttons-excel.exportCSV {
    margin-right: 5px;
    text-align: center;
    border: 1px solid white;
    transition: all 0.15s;
    background-color: #198654;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.dataTables_wrapper .dt-buttons .buttons-excel.exportCSV:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #198654;
}

/* 컬럼 선택 버튼 */
.colVisButton {
    text-align: center;
    border: 1px solid white;
    transition: all 0.15s;
    background-color: #17a2b8;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* 오른쪽 마진 추가 */
}

#equipmentSelect {
    font-size: 45px; /* 원하는 크기로 설정하세요 */
}

.colVisButton:hover {
    background-color: transparent;
    border: 1px solid gray;
    color: black;
}

.dt-button-collection {
    position: absolute; /* 절대 위치로 설정 */
    right: 0; /* 오른쪽 정렬 */
    top: 100%; /* 버튼 아래에 위치하도록 설정 */
    width: 120px; /* 너비 조정 */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    padding: 0.5em;
}

.dt-button-collection .dt-button {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    color: black;
    border: none;
    padding: 0.5em;
    margin-bottom: 0.1em;
}

.dt-button-collection .dt-button.active {
    background-color: #17a2b8;
    color: white;
}

/* 드롭다운 메뉴에 호버 효과 추가 */
.dt-button-collection .dt-button:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

/* 드롭다운 메뉴 내 항목들 너비 조정 */
.dt-button-collection .dt-button span {
    display: inline-block;
    width: 100%;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 경우 ...으로 표시 */
}

@media screen and (max-width: 640px) {
    /* 검색창, 페이지당 select 등 input 관련 */
    .dataTables_wrapper .dataTables_filter input,
    select[name=myTable_length] {
        padding: 0.2em;
        width: 30%;
    }

    #select {
        padding: 0.2em;
        margin-right: 0.5em;
    }
}

/* 버튼 */
/* 3D Button */
.btn-3d {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 20px 60px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.red:hover    {background-color: #e74c3c;}
.btn-3d.blue:hover   {background-color: #699DD1;}
.btn-3d.green:hover  {background-color: #80C49D;}
.btn-3d.purple:hover {background-color: #D19ECB;}
.btn-3d.yellow:hover {background-color: #F0D264;}
.btn-3d.cyan:hover   {background-color: #82D1E3;}

.btn-3d:active {
    top: 9px;
}

/* 3D button colors */
.btn-3d.red {
    background-color: #e74c3c;
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 #C24032,
    0 8px 0 1px rgba(0,0,0,0.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.blue {
    background-color: #6DA2D9;
    box-shadow: 0 0 0 1px #6698cb inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(110, 164, 219, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.blue:active {
    box-shadow: 0 0 0 1px #6191C2 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.green {
    background-color: #82c8a0;
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(126, 194, 155, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.purple {
    background-color: #cb99c5;
    box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(189, 142, 183, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.purple:active {
    box-shadow: 0 0 0 1px #cb99c5 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.cyan {
    background-color: #7fccde;
    box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(102, 164, 178, .6),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.cyan:active {
    box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.btn-3d.yellow {
    background-color: #F0D264;
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(196, 172, 83, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.yellow:active {
    box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}