/* CUSTOM STYLE */
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
/* 제목 중앙 정렬 및 마진 설정 */
h1 {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 20px; /* 위쪽 마진 설정 */
    margin-bottom: 20px; /* 아래쪽 마진 설정 */
}

body, select, input {
    font-family: 'Jeju Gothic', sans-serif;
}

/* FullCalendar 컨테이너 스타일 */
#calendar {
    max-width: 900px;
    margin: 40px auto;
}

/* 링크 스타일 수정 */
.fc a {
    color: inherit; /* 기본 링크 색상을 상속받도록 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 헤더 텍스트 스타일 */
.fc .fc-col-header-cell-cushion {
    color: #000; /* 헤더 텍스트 색상 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}


