<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>지난수주</title>
    <!-- 공통 cdn.css 포함 -->
    <th:block th:replace="header :: head"></th:block>
    <link rel="stylesheet" href="/css/completed_order.css">
</head>
<body>
<!-- 공통 헤더 포함1223 -->
<header th:replace="header :: header"></header>
<h1>지난수주</h1>

<div class="container mt-4">
    <div>
        <table id="myTable" class="display">
            <thead>
            <tr>
                <th>수주번호</th>
                <th>제품명</th>
                <th>총수량</th>
                <th>주문일자</th>
                <th>출하일자</th>
                <th>고객사</th>
                <th>배송지</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- 공통 cdn.js 포함 -->
<th:block th:replace="header :: footer"></th:block>
<script src="/js/completed_order.js"></script>
<script src="/js/plan.js">  </script>
</body>

</html>
